# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\joseL\Documents\MAESTRIA\TECNOLOGIAS DE LA PROGRAMACION\PROGRAMAS\PARA ONEDRIVE\EJERCICIOS\strategy-JoseLuisM26\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
